name: Update website

on:
  workflow_dispatch: {}
  push:
    branches: [ "master" ]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Update site
      shell: bash
      env:
        CSRF_TOKEN: {{ secrets.ION_CSRF_TOKEN }}
        SESSION_ID: {{ secrets.ION_SESSION_ID }}
      run: |
        python3 update.py