name: Update website

on:
  workflow_dispatch: {}
  push:
    branches: [ "main" ]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Restart site
      shell: bash
      run: |
        curl -X POST https://director.tjhsst.edu/sites/399/restart  -d csrfmiddlewaretoken=${{ secrets.ION_CSRF_TOKEN }}